<br>

<div class="disclaimer">
  <p>
    Note: The data displayed on this page is for demonstration purposes only.
    In future versions, it will work with your own list of members.
    Currently, it shows an example using randomly generated data.
  </p>
  <p>
    For each member, given a set of production and consumption profiles, our app applies a decision-making algorithm
    to select the optimal production and consumption profile for each member,
    in order to optimize the shared energy within the energy community.
  </p>
</div>

<div *ngIf="bestModel==null">
  <h1>Caricamento in corso ...</h1>
</div>

<div *ngIf="bestModel">
  <div *ngFor="let member of bestModel.assignments">
    <h3>Member {{ member.id }}</h3>

    <div *ngIf="produceChartDataMap.get(member.id)">
      <h4>Production</h4>
      <app-energy-chart
        [data]="produceChartDataMap.get(member.id)!"
        [options]="chartOptions"
        [selectedChartType]="'line'">
      </app-energy-chart>
    </div>

    <div *ngIf="consumeChartDataMap.get(member.id)">
      <h4>Consumption</h4>
      <app-energy-chart
        [data]="consumeChartDataMap.get(member.id)!"
        [options]="chartOptions"
        [selectedChartType]="'line'">
      </app-energy-chart>
    </div>

    <hr>
  </div>
</div>
