<div class="chart-container">
  <div class="chart-canvas-wrapper">
    <canvas baseChart [data]="displayData" [options]="chartOptions" [type]="selectedChartType"></canvas>
  </div>
  @if (!this.not_a_line_chart && isEnergy && showControls) {
    <div class="chart-controls">
      <div class="control-group">
        <button (click)="applyIntervalFilter(2)">~2h</button>
        <button (click)="applyIntervalFilter(3)">~3h</button>
        <button (click)="applyIntervalFilter(4)">~4h</button>
        <button (click)="applyIntervalFilter(6)">~6h</button>
      </div>
      <div class="control-group">
        <button (click)="resetView()">Reset</button>
      </div>
    </div>
  }
</div>
