<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title></title>
</head>

<div class="content-div">
  <div class="header-with-button">
    <h1>Ongoing Analyses</h1>
    <button class="btn btn-csv" (click)="loadAnalyses()">Reload</button>
  </div>
  <br><br>

  <!-- Loader -->
  <div *ngIf="loading" class="loading-container">
    <app-generation-loader status="Loading analysis..."></app-generation-loader>
  </div>

  <!-- Nessuna analisi -->
  <div *ngIf="!loading && analyses.length === 0" class="empty-box">
    <p>No ongoing analysis at the moment.</p>
  </div>

  <!-- Lista analisi -->
  <div *ngIf="!loading && analyses.length > 0" class="analysis-cards">

    <div class="analysis-card"
         *ngFor="let a of analyses"
         [ngClass]="getStatusClass(a.id)"
         (click)="open(a)">

      <div class="analysis-card-header">
        <h3>Analysis #{{ a.id }}</h3>
        <span class="badge" *ngIf="statusMessage.get(a.id) || a.status as msg"
              [ngClass]="msg.toLowerCase()">
          {{ msg }}
        </span>
      </div>

      <div class="analysis-card-body">
        <p><strong>Type:</strong> {{ a.analysisType }}</p>
        <p><strong>Started:</strong> {{ a.createdAt | date:'dd/MM/yyyy HH:mm:ss' }}</p>
        <p><strong>Num. Members:</strong> {{ a.numMembers }}</p>
      </div>

      <div class="analysis-card-footer" *ngIf="(statusMessage.get(a.id) === 'FINISHED' || a.status === 'FINISHED') || (statusMessage.get(a.id) === 'ERROR' || a.status === 'ERROR')">
        <span class="open-text" *ngIf="(statusMessage.get(a.id) === 'FINISHED' || a.status === 'FINISHED')">Open</span>
        <span class="error-text" *ngIf="(statusMessage.get(a.id) === 'ERROR' || a.status === 'ERROR')">Delete</span>
        <i class="fa-solid fa-chevron-right" *ngIf="(statusMessage.get(a.id) === 'FINISHED' || a.status === 'FINISHED')"></i>
      </div>

    </div>

  </div>

</div>
