<div class="content-div">
  <div class="page-header">
    <button (click)="goBack()" class="btn-back" title="Go Back">
      <i class="bi bi-arrow-left"></i> <span>Back</span>
    </button>

    <h2>Member Overview: {{member?.fullName}}</h2>
  </div>
  <h3>Member Type: {{member?.memberType}}</h3>

  <div *ngIf="produceChartData">
    <h3>Produced Energy</h3>
    <app-energy-chart
      [data]="produceChartData"
      [options]="chartOptions">
    </app-energy-chart>
  </div>

  <div *ngIf="consumeChartData">
    <h3>Consumed Energy</h3>
    <app-energy-chart
      [data]="consumeChartData"
      [options]="chartOptions">
    </app-energy-chart>
  </div>
</div>
