<div class="content-div">


  <div *ngIf="currentUser != null">
    <h1> Welcome {{currentUser.username}}</h1>
  </div>




  <div class="header-with-button">
    <h1>Dashboard</h1>
    <a routerLink="/csv" class="btn btn-csv">Import CSV</a>
  </div>

  <div >

    <div *ngIf="plan">
      <h2 align="center">Your Members</h2>
      <table class="members-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let member of plan.members">
          <td>
            <a [routerLink]="['/member', member.id]">
              {{ member.fullName }}
            </a>
          </td>
          <td>{{ member.memberType }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <p class="content-div" *ngIf="!plan">No plan provided</p>


</div>
