<div class="content-div">
  <h1>CSV</h1>

  <div class="disclaimer">
    <h2>How to Fill the CSV</h2>
    <p>
      The CSV file must follow this structure:
    </p>
    <pre>
id,full_name,email,category,t0,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15,t16,t17,t18,t19,t20,t21,t22,t23
    </pre>
    <p>
      Each row represents a consumption or production profile for a user.
      Each user can have multiple profiles. The <strong>category</strong> field can be either <em>CONSUMER</em> or
      <em>PRODUCER</em>.
      The columns <strong>t0–t23</strong> represent the energy consumption or production (in kW) for each hour of the
      day.
      Each user must have a unique identifier in the <strong>email</strong> field.

      PLEASE DOWNLOAD THE TEMPLATE AND COMPILE IT FOLLOWING THESE INSTRUCTIONS
    </p>
    <hr>
  </div>

  <div class="csv-container">
    <h2>CSV Section</h2>

    <input type="file" accept=".csv" (change)="onFileSelected($event)" id="fileInput" />
    <br><br>
    <button (click)="downloadTemplate()" class="btn">Download CSV template</button>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>

    @if (this.new_members.length > 0) {
    @if (this.action_column_status()) {
    <div class="csv-instructions"
      style="padding: 15px; border: 1px solid #ffcc00; background-color: #fff8e1; color: #663c00; margin: 20px; border-radius: 4px;">
      <h3 style="margin-top: 0; color: #ff9800;">⚠️ Conflicts detected!</h3>
      <p>
        Some members listed below cannot be saved at this moment due to <strong>conflicts</strong> with your current plan or existing
        data.
        Please review the <strong>Status</strong> and <strong>Action</strong> columns for each member to resolve these issues before proceeding
        with the final save operation.
      </p>
    </div>
    }
    <div class="table-container">
      <h2>Members preview</h2>
      <table class="members-table">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @for (item of this.new_members; track $index) {
          <tr>
            <td>{{item.fullName}}</td>

            <td>
              @if (item.any_conflicts === 'EMAIL_ALREADY_USED') {
              <div class="form-group">
                <input type="text" #input_email (change)="change_email(item, input_email.value)" value="{{item.email}}">
              </div>
              }
              @else {<p>{{item.email}}</p>}
            </td>

            <td>
              @if (item.any_conflicts === 'NO_CONFLICTS') {<p class="status-ok">OK</p>}
              @else if (item.any_conflicts === 'EMAIL_ALREADY_USED') {<p class="status-error">EMAIL USED</p>}
              @else if (item.any_conflicts === 'MEMBER_ALREADY_PRESENT') {<p class="status-error">MEMBER ALREADY PRESENT
              </p>}
              @else if (item.any_conflicts === 'ONGOING_ANALYSIS') {<p class="status-error">ONGOING ANALYSIS</p>}
            </td>


            <td>
              @if (item.any_conflicts === 'MEMBER_ALREADY_PRESENT') {
              <button class='btn' (click)="this.open_modal(item)">Solve conflicts</button>
              }
              @else if (item.any_conflicts === 'NO_CONFLICTS') {
              <i>NO ACTIONS</i>
              }
              @else if (item.any_conflicts === 'ONGOING_ANALYSIS') {
              <button class="btn" (click)="this.open_ongoing_analysis_modal(item)">More Info</button>
              }
              @else if (item.any_conflicts === 'EMAIL_ALREADY_USED') {
                <div class="csv-instructions">
                  New mail address required!
                </div>
              }
            </td>

          </tr>
          }
        </tbody>
      </table>
      @if (!this.action_column_status()) {
      <button class="btn" (click)="this.confirmation_modal_visible = true">Save new members</button>
      }
    </div>
    }
  </div>

  @if (this.member_modal_visible) {
  <div class="modal-overlay">
    <div class="modal-content">
      <p>
        The member {{this.member_modal_item?.fullName}} (email: {{this.member_modal_item?.email}}) already has
        <strong>other profiles uploaded</strong>.
        <br>
        Would you like to <strong>keep the previously saved data</strong> (which prevents saving the new profiles), or
        <strong>prefer the
          new profiles</strong> (which will delete the existing ones)?
      </p>

      <div class="modal-body">
        <div class="table-container">
          <table class="members-table">
            <thead>
              <th>Previous profiles</th>
              <th>New profiles</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  @for (profile of this.member_modal_item?.profiles; track $index) {
                  <div class="chart-row">
                    <app-energy-chart
                      [data]="{ labels: chartLabels, datasets: [{ label: (profile.profileType === 'CONSUMER') ? 'Consumption Profile' : 'Production Profile', data: profile.graph, borderColor: (profile.profileType === 'CONSUMER') ? 'red' : 'blue' }] }"
                      [options]="chartOptions" [selectedChartType]="'line'"></app-energy-chart>
                  </div>
                  }
                </td>
                <td>
                  @for (profile of this.new_member_modal_item?.profiles; track $index) {
                  <div class="chart-row">
                    <app-energy-chart
                      [data]="{ labels: chartLabels, datasets: [{ label: (profile.profileType === 'CONSUMER') ? 'Consumption Profile' : 'Production Profile', data: profile.graph, borderColor: (profile.profileType === 'CONSUMER') ? 'red' : 'blue' }] }"
                      [options]="chartOptions" [selectedChartType]="'line'"></app-energy-chart>
                  </div>
                  }
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-actions">
        <button class="modal-btn btn-secondary" (click)="keep_previous_profiles(this.new_member_modal_item)">
          Keep previous profiles
        </button>
        <button class="modal-btn btn-danger" (click)="keep_new_profiles(this.new_member_modal_item)">
          Save new profiles
        </button>
      </div>
    </div>
  </div>
  }

  @if (this.confirmation_modal_visible) {
  <div class="modal-overlay">
    <div class="modal-content">
      <p>The following members will be added on your plan:</p>

      <div class="modal-body">
        <div class="table-container">
          <table class="members-table">
            <thead>
              <th>Name</th>
              <th>Email</th>
            </thead>
            <tbody>
              @for (item of this.new_members; track $index) {
              <tr>
                <td>{{item.fullName}}</td>
                <td>{{item.email}}</td>
              </tr>
              }
            </tbody>

          </table>
        </div>
      </div>

      <div class="modal-actions">
        <button class="btn" (click)="save_new_members()">Save new members</button>
      </div>
    </div>
  </div>
  }

  @if (this.ongoing_analysis_modal_visible) {
  <div class="modal-overlay">
    <div class="modal-content">
      <p>
        There are some <strong>ongoing analyses</strong> related to the member
        <strong>{{this.ongoing_analysis_modal_item?.fullName}}</strong>.
        This currently <strong>prevents the update</strong> of the member.
        Please <strong>skip</strong> this member to proceed with the operation.
      </p>
      <div class="modal-body">
        <ul>
          @for (analysis of this.ongoing_analysis_modal_list; track analysis.id) {
          <li>
            <p>
              <strong>Analysis ID:</strong> {{ analysis.id }} <br>
              <strong>User ID:</strong> {{ analysis.userId }} <br>
              <strong>Status:</strong>
              <strong [class]="'status-' + analysis.status">{{ analysis.status | uppercase }}</strong> <br>
              <strong>Members Analyzed:</strong> {{ analysis.numMembers }} <br>
              <strong>Created On:</strong> {{ analysis.createdAt | date:'short' }}
            </p>
          </li>
          }
        </ul>
      </div>

      <div class="modal-actions">
        <button class="modal-btn btn-danger"
          (click)="this.ongoing_analysis_delete_member(this.ongoing_analysis_modal_item)">Skip this member</button>
      </div>
    </div>
  </div>
  }
</div>
