<div class="content-div">
  <h1>CSV</h1>
  <div class="csv-container">
    <h2>CSV Section</h2>

    <input type="file" accept=".csv" (change)="onFileSelected($event)" id="fileInput"/>
    <br><br>
    <button (click)="downloadTemplate()" class="btn">Download CSV template</button>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>

    <div *ngIf="csvData.length > 0" class="preview">
      <br>
      <h3 align="center">CSV Preview</h3>
      <br>
      <table>
        <tr>
          <th *ngFor="let col of csvData[0]">{{ col }}</th>
        </tr>
        <tr *ngFor="let row of csvData.slice(1)">
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
      </table>
      <a routerLink="/dashboard" class="btn btn-csv">Confirm file and go to dashboard</a>
    </div>

    <!--<div *ngIf="profiles.length > 0" class="charts-section">
      <h3>Energy Trend by Profile</h3>
      <div *ngFor="let profile of profiles" class="chart-card">
        <h4>{{ profile.nome_cognome }} ({{ profile.category }})</h4>
        <app-energy-chart
          [data]="getChartData(profile)"
          [options]="chartOptions">
        </app-energy-chart>
      </div>
    </div>-->
  </div>

</div>


<!--
To visualize a preview of your members' data, click on "Choose file" and select your csv file
If you're not sure on how to compile the csv, download the template with the button below.
After checking the preview of your data click the confirm button at the bottom of the page.
-->
