<nav class="navbar">
  <div class="navbar-logo">PowerHive</div>
  <ul class="navbar-links">
    <li><a routerLink="/">Home</a></li>

    <li *ngIf="currentUser!=null"><a routerLink="/dashboard">Dashboard</a></li>
    <li *ngIf="currentUser==null"><a routerLink="/login">Login</a></li>
    <li *ngIf="currentUser!=null"><a routerLink="/analysis">Analysis</a></li>
    <li *ngIf="currentUser != null"><a routerLink="/login" (click)="logout()">Logout</a></li>
    <li *ngIf="currentUser!=null"><a routerLink="/plan-management">Plan management</a></li>
  </ul>
</nav>
