<div class="welcome-container">
  <h1>Welcome to PowerHive!</h1>
  <h3>Your personal energy community manager</h3>
  <p>This website will provide you with all the tools to build, manage and analyze your energy community.</p>
  <h3>Observe your members' consume and production graphs</h3>
  <br>
  <img src="assets/images/consume.png" alt="Consume Plots" class="welcome-image">
  <br>
  <h3>Our ASP-powered system will let you analyze and optimize your members' energy profiles</h3>
  <br>
  <img src="assets/images/mock_plots.png" alt="Mock Plots" class="welcome-image">
  <h1>Get started now!</h1>
</div>
