<div class="content-div">
  <div class="analysis-row">
    <a class="btn btn-analysis" routerLink="/analysis1"> Profile analysis</a>
    <span>
      Given a list of potential members,
      where every member has one or more consume/production profiles,
      the profile analysis chooses the optimal profile for each member,
      generating an ideal energy community,
      in which every member follows their optimal consume/production profile
    </span>
  </div>
  <div class="analysis-row">
    <a class="btn btn-analysis" routerLink="/analysis2">Community analysis</a>
    <span>
      Given a list of potential members,
      each with one or more consumption and production profiles,
      the community analysis selects the optimal subset of members
      — according to the specified community size —
      that together form the most efficient and balanced energy community.
    </span>
  </div>
  <div class="analysis-row">
    <a class="btn btn-analysis" routerLink="/choose-analysis3">Battery problem</a>
    <span>
      [PLACEHOLDER]
    </span>
  </div>
</div>
