<div class="content-div">
  <h2 style="text-align:center; margin-bottom:2rem; color:#0c751b;">Energy Community Analysis</h2>

  <div class="analysis-row">
    <a class="btn btn-analysis" routerLink="/member-chooser">Profile analysis</a>
    <span>
      Take a list of members, each with one or more <strong>energy profiles</strong>. This analysis picks the <strong>best profile</strong> for each member to create an <strong>ideal energy community</strong>, where everyone follows their <strong>optimal profile</strong>.
    </span>
  </div>

  <div class="analysis-row">
    <a class="btn btn-analysis" routerLink="/choose-analysis2">Optimal Community Formation</a>
    <span>
      Build a new <strong>energy-sharing group</strong> from a list of available members. Choose which members can join and the community size. The system checks all combinations to find the best setup that <strong>maximizes energy sharing</strong>.
    </span>
  </div>

  <div class="analysis-row">
    <a class="btn btn-analysis" routerLink="/choose-analysis3">Community Adjustment Optimization</a>
    <span>
      Improve an existing energy community. Mark members who can be <strong>added</strong> or <strong>removed</strong>. The system tests all options to find the <strong>most efficient configuration</strong>, showing if adding or removing members improves <strong>energy sharing</strong> and <strong>community balance</strong>.
    </span>
  </div>

  <div class="analysis-row">
    <a class="btn btn-analysis" routerLink="/analysis4">Optimal Battery Assignment</a>
    <span>
      For each energy community, given a set of <strong>candidate batteries</strong> and a predefined <strong>budget</strong>,
      our app runs an optimization algorithm that selects which producers should be equipped
      with batteries and dynamically schedules charge/discharge operations.
    </span>
  </div>
</div>
