<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div *ngIf="!historyList || historyList?.length === 0" class="no-plan-wrapper">
  <div class="empty-state-card">
    <div class="icon-box">
      <i class="bi bi-clipboard-data"></i>
      <div class="pulse-ring"></div>
    </div>
    <h3>No Histories Found</h3>
    <p>
      It seems there is no saved analyses yet.<br>
    </p>
  </div>
</div>

<!-- Tabella History -->
<div *ngIf="!loading && !error && historyList.length > 0">

  <!-- LEGENDA TYPE -->
  <div class="legend-container">
    <span class="legend-title">Legend:</span>

    <div class="legend-list">
      <div class="legend-item">
        <span class="legend-badge">1</span>
        <span>Profile Analysis</span>
      </div>

      <div class="legend-item">
        <span class="legend-badge">2</span>
        <span>Optimal Community Formation</span>
      </div>

      <div class="legend-item">
        <span class="legend-badge">3</span>
        <span>Community Adjustment Optimization</span>
      </div>
    </div>
  </div>

  <table class="members-table">
    <thead>
    <tr>
      <th>Analysis Name</th>
      <th>Type</th>
      <th>Creation Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let history of historyList">
      <td>{{ history.name || ('Analisi #' + history.id) }}</td>
      <td>{{ history.analysisNumber }}</td>
      <td>{{ formatDate(history.createdAt) }}</td>
      <td>
        <button class="btn" (click)="viewAnalysis(history.id,history.analysisNumber)">Visualize</button>
        <button class="btn-trash" (click)="onDeleteAnalysis(history.id)" aria-label="Delete">
          <i class="fa fa-trash"></i>
        </button>

      </td>
    </tr>
    </tbody>
  </table>
</div>
