<div class="content-div">

  <div class="header-with-button">
    <h1>Analysis History</h1>
    <button class="btn btn-csv" (click)="loadHistory()">Reload</button>
  </div>

  <!-- Stato di caricamento -->
  <div *ngIf="loading" class="loading-container">
    <p>Loading ...</p>
  </div>

  <!-- Stato di errore -->
  <div *ngIf="error" class="error-container">
    <p>{{ error }}</p>
    <button class="btn" (click)="loadHistory()">Try again</button>
  </div>

  <!-- Stato vuoto -->
  <div *ngIf="!loading && !error && historyList.length === 0" class="empty-state">
    <p>Nothing to see.</p>
  </div>

  <!-- Tabella History -->
  <div *ngIf="!loading && !error && historyList.length > 0">
    <table class="members-table">
      <thead>
      <tr>
        <th>Analysis Name</th>
        <th>Type</th>
        <th>Creation Date</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let history of historyList">
        <td>{{ history.name || ('Analisi #' + history.id) }}</td>
        <td>{{ history.analysisNumber }}</td>
        <td>{{ formatDate(history.createdAt) }}</td>
        <td>
          <button class="btn" (click)="viewAnalysis(history.id,history.analysisNumber)">Visualize</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
